<div class="overlay">
    <div class="full-view-container">
        <div [ngClass]="{'overlay-inner-landscape' : image.Orientation === 'Landscape', 'overlay-inner-portrait' : image.Orientation === 'Portrait'}"
            class="overlay-inner">
            <img [src]="image.imagePath" alt="photo" (click)="closeImage()">
        </div>
        <span *ngIf="!viewingComments && isLoggedIn" class="image-likes-comments">
            <p class="likes-tag">
                <ion-icon name="heart" class="heart-icon"></ion-icon>{{numOfLikes}} {{likeOrLikes}}
            </p>
            <p (click)="viewComments()" class="comments-tag">{{comments.length}} Comments</p>
        </span>
        <ion-icon *ngIf="comments.length <= 0 && viewingComments" class="close-icon-no-comments" name="close-outline"
            (click)="closeComments()"></ion-icon>
        <div *ngIf="viewingComments" class="existing-comments-container">
            <ion-icon *ngIf="comments.length > 0" class="close-icon" name="close-outline" (click)="closeComments()">
            </ion-icon>
            <div class="existing-comments" *ngFor="let comment of comments">
                <p class="commentor-name">{{comment.name}}</p>
                <p class="comment">{{comment.usersComment}}</p>
            </div>
        </div>
        <div *ngIf="viewingComments" class="input-button">
            <input type="text" class="comments-input" placeholder="Add comment" #usersInput>
            <button class="post-button" (click)="onComment(usersInput.value, image.imagePath)">Post</button>
        </div>
    </div>
</div>