* {
    box-sizing: border-box;

  }

  .gallery-container {
    margin-top: 110px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(106px, 1fr));
    justify-items: center;
    grid-auto-flow: dense;
    gap: 4px;
    grid-auto-rows: 100px;
    

}

@media only screen and (max-width: 882px) {
  .gallery-container {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 430px) {
  .gallery-container {
    margin-top: 105px;
  }
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    box-shadow: white 1px;
}

.image-container {
    display: grid;
    overflow: hidden;
    cursor: pointer;
    width: auto;
    height: auto;
    border: 1px white solid;
}

.heart-icon-container {
  grid-column: 1 / -1; /* this will overlap the overlay with the item img as we have placed both elements on the same row and column values */
  grid-row: 1 / -1;
  background: none;
}

.heart-icon {
  color: red;
  position: relative;
  background: none;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;

}

.p1 { 
    grid-row: span 4;
    grid-column: span 3;
}


.l1 { 
    grid-row: span 2;
    grid-column: span 3;
}

.l2 {
    grid-row: span 3;
    grid-column: span 3;
}

.l3 {
    grid-row: span 2;
    grid-column: span 3;
}

